<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>p5 Live | <%= username %> | <%= sketchId %></title>

    <!-- Load the socket.io  2.3.0 library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js">
    </script>

  </head>
  <body>
    
    <!-- We embed the sketch full page -->
    <!-- Notice the username and sketchId place holder for the ejs templating-->
    <iframe id="sketch" src="https://editor.p5js.org/<%= username %>/embed/<%= sketchId %>" style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
        Sorry, this browser does not support iframes thus p5live will not work on this device.
    </iframe>

    <script>
      window.onload = function() {
        const socket = io("https://p5live.jgrizou.repl.co"); // connect to the socket.io server, which is the same as the http server
        const username = '<%= username %>'; //place holder for the ejs templating
        const sketchId = '<%= sketchId %>'; //place holder for the ejs templating

        socket.on('connect', () => {
          // on connect we subscribe to the sketchId room
          socket.emit("subscribe", {username : username, sketchId: sketchId});

          // when we receive a reload message, we refresh the iframe
          socket.on('reload', () => {
            // console.log('Received reload request. Reloading...');
            var iframe = document.getElementById('sketch');
            iframe.src = iframe.src;
          });
        });
      }
    </script>

  </body>
</html>
